.mobile {
  background-color: var(--steel-blue);
  height: auto;
  width: 100%;
  position: absolute;
  right: 0px;
  top: -6px;
  padding: 18px 12px;
  display: flex;
  flex-direction: column;
}

.close-icon {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  color: white;
}

.mobile-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 24px;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.mobile-option {
  font-size: 24px;
  margin: 12px 0px;
  display: flex;
}

.mobile-option a {
  text-decoration: none;
  color: white;
  display: flex;
}

.mobile-option-icon {
  align-items: center;
  padding-right: 10px;
}
