html {
  scroll-behavior: smooth;
}

.home {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .home {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .home {
    width: 100%;
  }
}
