.header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 12px;
  position: relative;
  align-items: center;
}

.menu {
  background-color: #fff;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.menu-icon {
  font-size: 24px;
  color: var(--blue);
}

.mobile-menu {
  display: none;
}

.web-menu {
  display: flex;
}

.logo {
  display: flex;
  font-size: 35px;
  color: var(--blue);
  font-weight: 800;
}

@media screen and (max-width: 700px) {
  .mobile-menu {
    display: flex;
  }

  .web-menu {
    display: none;
  }

  .logo {
    font-size: 24px;
  }
}
