.separator {
  background-image: linear-gradient(
    to right top,
    #2f6696,
    #285f8b,
    #23597f,
    #1e5274,
    #1a4b69,
    #21526e,
    #295974,
    #306079,
    #437890,
    #5790a7,
    #6ca9bf,
    #81c3d7
  );
  height: 6px;
  width: 100%;
  border-radius: 3px;
  margin: 16px 0;
}
