.about {
  padding-bottom: 48px;
}

.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-illustration {
  height: 420px;
}

.about-info {
  font-size: 24px;
}

.about-name {
  color: var(--steel-blue);
  font-size: 32px;
}

@media screen and (max-width: 700px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-illustration {
    height: 280px;
  }

  .about-name {
    font-size: 26px;
  }
}
